.btn {
  padding: 0.5rem 4rem;
  @include respond(phone) {
    padding: 0.5rem 1rem;
  }
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: var(--default-font-size);
  width: fit-content;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    // outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.2);
  }
  &-primary {
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-decoration: none;
  }
  &--white {
    background-color: var(--color-background);
    color: var(--color-gray-dark);

    &::after {
      background-color: var(--color-background);
    }
  }

  &--green {
    background-color: var(--color-primary);
    color: var(--color-background);

    &::after {
      background-color: var(--color-primary);
    }
  }
  &-remove {
    margin-left: auto;
    background: var(--color-red);
    color: var(--color-background);
    border: 2px solid transparent;
    &:hover {
      border-color: var(--color-red);
      background: var(--color-background);

      color: var(--color-red);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: var(--default-font-size);
    color: var(--color-primary);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
    padding: 3px;
    transition: all 0.2s;
    width: fit-content;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.15);
    transform: translateY(0);
  }
}
