.confirm__wrapper {
  display: grid;
  align-items: center;
  position: absolute;
  left: 0;
  justify-items: center;
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100%;
  &--header {
    color: var(--color-primary-dark);
  }
  &--content {
    display: inherit;
    justify-content: center;
    justify-items: center;
    background: var(--color-background);
    color: var(--color-background);
    border-radius: 5px;
    padding: 1rem;
    grid-gap: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  &--actions {
    display: inherit;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
  }
}
